.custom-dots {
  position: absolute;
  top: 520px;
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 10px;
}

.custom-dots li {
  list-style: none;
}

.custom-dots li div {
  font-size: 0;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background: white;
  opacity: 0.5;
  transition: opacity 0.3s ease-in-out;
}

.custom-dots .slick-active div {
  opacity: 1;
  background: #ffffff;
}
