.underElement {
  position: relative;
}

.underElement::after {
  content: "";
  position: absolute;
  height: 3px;
  width: 100px;
  background-color: rgb(142, 146, 146);
  border-radius: 10px;
  bottom: -25px;
  left: 3px;
  opacity: 0.3;
}
