@tailwind base;
@tailwind components;
@tailwind utilities;
@import 'slick-carousel/slick/slick.css';
@import 'slick-carousel/slick/slick-theme.css';
@import '../styles/custom-dots.css';
@import '../styles/underline.css';
@import '../styles/hovers.css';

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer base {
  :root {
    --radius: 0.5rem;
  }
}
